body {
  height: 100vh;
  padding: 1rem;
  background-image: url("https://res.cloudinary.com/code-moran-ltd/image/upload/v1627725097/Mesmerize/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  width: 180px;
  height: auto;
}

.logo-slogan {
  width: calc(180px - 25px);
}

.btn-img {
  width: calc(180px - 73px);
}

.btn-wrapper {
  margin-top: calc(180px - 141px);
  margin-bottom: calc(180px - 141px);
}

.email-img {
  width: calc(180px + 19px);
}

a img {
  will-transform: transform;
  transition: transform 0.2s ease-in-out;
}
a:hover img {
  transform: scale(0.95);
}